:root {
	/* Palette */
	--white: #eaeaea;
	--off-white: #f6f6f6;
	--grey-white: #eaeaea;
	--light-grey: #b7b7b7;
	--mid-grey: #777777;
	--mid-blue: #2271B6;
	--dark-grey: #222;
	--black: #161616;
  --scary-red: #b90f00;
}