
form {
  width: 100%;
  display: grid;
  justify-items: center;
  max-width: var(--single-column-threshold-width);
  padding: calc(var(--spacing) * 2);
  grid-gap: calc(var(--spacing) * 2);
}

/* Since we have grid-gap, items in the form don't need margins */
form * {
  margin: 0;
}

/* Display an inout box, with a label that only appears when the user is typing
See https://www.jonathan-harrell.com/blog/advanced-css-only-form-styling/ */
.text-input-and-label {
  width: 100%;
  position: relative;
  transition: all ease-in-out 0.1s;
}

/* Per Stripe docs https://stripe.com/docs/stripe-js/elements/quickstart
"No CSS styles should be applied directly to anything Elements inserts inside your container DOM element. Style the container DOM element instead."
*/
input,
select,
textarea,
.stripe-placeholder {
  color: var(--text-color);
  background-color: transparent;
  width: 100%;
  /* Space for label */
  padding-top: calc(var(--spacing) * 3);
  padding-right: 0;
  padding-bottom: var(--spacing);
  padding-left: var(--spacing);
  /* Disable highlight halo */
  outline: none;
  font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: var(--border-width) solid var(--light-grey);
}


input:disabled {
	color: #ccc;
}

textarea {
  min-height: 100px;
}

/* Don't show label when input placeholder is shown */
input:placeholder-shown + label,
textarea:placeholder-shown + label,
.StripeElement--empty + label {
  opacity: 0;
}

/* When the placeholder is shown, use even padding on input (since label isn't shown )*/
input:placeholder-shown,
textarea:placeholder-shown,
.StripeElement--empty {
  padding: calc(var(--spacing) * 2) var(--spacing);
}

input:focus,
.StripeElement--focus {
  border-color: var(--brand-color);
}

.text-input-and-label label {
  position: absolute;
  top: 9px;
  left: calc(var(--spacing) + var(--border-width));
  font-size: 8pt;
  line-height: 8pt;
  font-weight: 600;
  opacity: 0.7;
  transition: all 0.2s ease-out;
  color: var(--brand-color);
}

/* Disable ugly yellow on Webkit browsers after autofill */
.StripeElement--webkit-autofill {
  background-color: unset !important;
}

.checkbox-and-label {
  display: grid;
  justify-items: left;
  grid-template-columns: calc(var(--spacing) * 3) auto;
}

.checkbox-and-label input[type="checkbox"] {
  margin: 0;
}

.text-input-and-label.checkbox label {
  position: relative;
  transform: none;
  text-align: left;
  padding: var(--spacing) 0;
}

button {
  width: fit-content;
  border: var(--border-width) solid var(--light-grey);
  padding: var(--spacing) calc(var(--spacing) * 2) ;
  margin: var(--spacing);
	color: #333;
	background-color: #f4f4f4;
  outline: none;
  font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}