@import url("metrics.css");
@import url("colors.css");
@import url("forms.css");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div, body, .error {
	display: grid;
	justify-items: center;
	align-items: center;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--dark-grey);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--mid-blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}
